*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prof{
   height:200 px;
   width: 200 px;
   border-radius: 50 %;
   margin-left: 100 px;
}
body{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902618.jpg?w=2000);
    background-size: cover;
   
}
 
.first{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: palevioletred;
}
h2{
    margin-left: 30px;
}
.tg{
    text-align: center;
}
.info{
    width:30%;
    margin: auto;
    
}
.links{
    text-decoration: none;
    color: inherit;

}
.btn{
    background-image: linear-gradient(to bottom, #ea7bc1, #fa4e9b);
    
    border-radius: 8px;
    
    color:inherit;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 20px;
}
.link{
    text-decoration: none;
    color: inherit;
    margin-left: 130px;
    margin-top: 20px;
}
.pic1{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    border-style: ridge;
}
.pic2{
    height: 200px;
    width: auto;
    margin-left: 20px;
    border-radius: 5px;
}
.h3{
    text-align: center;
}
.hob{
    display: flex;
    justify-content: space-evenly;
}
.hobby{

    height: 200px;
    width:200px;
    border-radius: 50%;
    margin-bottom: 30px;
}
@media (min-width: 319px) and (max-width: 480px){
    .first{
        display: block;
    }
    .hob{
        display: block;
    }
}
