*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prof{
   height:200px;
   width: 200px;
   border-radius: 50%;
   margin-left: 100px;
}
body{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902618.jpg?w=2000);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
}
 
.first{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: palevioletred;
}


.info{
    width:30%;
    margin: auto;
    
}
.links{
    text-decoration: none;
    color: inherit;

}
.btn{
    background-image: linear-gradient(to bottom, #ea7bc1, #fa4e9b);
    border-radius: 8px;
    color:inherit;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
    margin-left: 130px;
    margin-top: 20px;
}
.link > a{
    text-decoration: none;
    color:black;
}
h3{
    text-align: center;
    margin-top: 20px;
}
.ed{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.pic1{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    border-style: ridge;
}
.pic2{
    height: 200px;
    width: auto;
    margin-left: 20px;
    border-radius: 5px;
}

@media (min-width: 319px) and (max-width: 480px){
    .first{
        display: block;
    }
    .hob{
        display: block;
    }
}
.nav-item > a{
    background-color: white;
    color: black;
}
.nav-link{
    background-color: white;
    color: black;
}
